section {
    background: url('https://dl.airtable.com/.attachmentThumbnails/63a47a4b90397b40eccc1e419dc43ecc/dcfc4bc6') 
        center; 
    background-size: 100%;
}

.container {
    opacity: 0.9;
}