{% extends 'layout.html' %}
{% block head %}
<title>Trashin Place</title>
{% endblock %}
{% block body %}
<center>
    <h2 style="margin: 50px 50px 0 50px;">¿Cual es nuestro objetivo?</h2>
    <p class="about-text justify-text">
        <b>Trashin <span style="color: green">Place</span></b> nace tras la propuesta de <b>mejorar el mundo a través de la tecnología</b>. Problemas como <b>el cambio climático
        o la contaminación ambiental</b>, requieren realizar acciones cercanas para que de esa forma, por bien propio, también como <b>contribución al planeta</b>.
    </p>
    <p class="about-text justify-text">
        <b>Nuestra app</b> se centra en <b>poner al alcance de todos la capacidad de ser escuchados</b>. Mediante un <b>sistema de valoraciones y de comentarios</b> 
        la gente podrá <b>denunciar y comentar</b> sobre <b>el cuidado, estado y la contaminación</b> de las zonas que visitan.
    </p>
    <p class="about-text justify-text">
        <b>Para ayudar al planeta hay que poner cada uno su granito de arena</b>, pero una gran <b>ayuda por parte de las administraciones públicas</b> para darnos opciones y
        medios para cooperar, además de que como dirigentes tendrían que encargarse también de los lugares con menos atención y limpieza. Cuando una zona tenga <b>malas
        valoraciones</b> la <b>imagen pública</b> que tendrá será <b>negativa</b>, por lo que las diferentes administraciones se verán obligados a reaccionar, si quieren tener una buena
        imagen en dichas zonas, ya que podría perjudicar al turismo u otros factores que sostienen nuestra economía.
    </p>
    <center class="insta-widget-container" >
        <iframe src="https://snapwidget.com/embed/980383" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
    </center>
    <p class="about-text justify-text">
        Por otro lado, con esta app podremos <b>concienciar a los ciudadanos y</b> a los <b>habitantes</b> de los distritos con puntuaciones bajas del mal cuidado de la 
        zona y de sus consecuencias respecto al planeta y que de ese modo actúen en consecuencia, para mejor la casa común.
    </p>
    <p class="about-text justify-text">
        Todo ello repercutirá en el cumplimiento de los Objetivos de Desarrollo Sostenible (ODS) de la Agenda 2030 de la UE y a la reducción de la huella de carbono.
    </p>
</center>
{% endblock %}